.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefc01;
    height: 100vh;
}

.app__logo {
    object-fit: contain;
    height: 100px;
}

.app__bodyBackground {
    /* you don't see it but it help us to have background-color white
    in the app_body when we have transition before the render is given
    by react so its pretty clean like this */
    background-color: white;
    height: 400px;
}

.app__body {
    background-image: url("https://pngimg.com/uploads/iphone/iphone_PNG5721.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 410px;
    background-size: contain;
    width: 250px;
    padding: 74px;
}