.webcamCapture {
    position: relative;
}

.webcamCapture__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
}

.webcampCapture__close {
    position: absolute;
    top: 0;
    left: 0;
    color: white !important;
    cursor: pointer;
}